NODE_ENV=development
PORT=3000
FRONTEND_URL=http://localhost:5173

GOOGLE_CLIENT=foo
GOOGLE_SECRET=bar
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback

DATABASE_URL=postgresql://postgres:foo@localhost:5432/avpnMap

ACCESS_TOKEN_SECRET=foo
REFRESH_TOKEN_SECRET=bar

ADMIN_SECRET=your-strong-secret-here

REDIS_HOST=localhost
REDIS_PORT=6379
