@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
}

button {
  @apply cursor-pointer;
}

/* Firefox focus outline customization */
@supports (appearance: none) {
  :focus-visible {
    outline: 2px solid black !important;
  }

  :focus:not(:focus-visible) {
    outline: none;
  }
}
