@import "tailwindcss";

@custom-variant dark (&:where([data-mode="dark"] *));

@theme {
  --color-avpn-green: #059669;
  --color-brand-green: #22c55e;

  --color-brand-violet: #8b5cf6;

  --color-brand-yellow: #eab308;
  --color-custom-yellow: #f0b100;

  --color-brand-red: #ef4444;
}

:root {
  --focus-ring: #000000;
  --document-bg: #ffffff;
}

:root[data-mode="dark"] {
  --focus-ring: #cbd5e1;
  --document-bg: #0e0e10;
}

* {
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--document-bg);
}

button {
  @apply cursor-pointer;
}

/* Firefox focus outline customization */
@supports (appearance: none) {
  :focus-visible {
    outline: 2px solid var(--focus-ring) !important;
  }

  :focus:not(:focus-visible) {
    outline: none;
  }
}
